.markerClusterSmall,
.markerClusterMedium,
.markerClusterLarge,
.markerClusterLargeXL, 
.markerClusterLarge2XL{
   transform: translate(-50%,-50%);
    border-radius: 50%;
    border-color: #fff;
    border: 2px;
    color: #fff;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markerClusterSmall {
    text-align: center;
    background-color: rgba(3, 192, 60, 0.7);
    
}

.markerClusterMedium {
    background-color: yellow;
}

.markerClusterLarge {
    background-color: orange;
}

.markerClusterLargeXL{
    background-color: lightcoral;
}

.markerClusterLarge2XL {
    background-color: red;
}
